
.calculator-grid {
    display: grid;
    margin-top: 2rem;
    justify-content: center;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-span-two {
    grid-column: span 2;
}

.calculator-output {
    grid-column: 1 / -1;
    background-color: lightslategray;
    border-color: rgba(255, 255, 255, .75);
    border-width: 2px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
}

.calculator-grid > button {
   cursor: pointer;
   font-size: 2rem;
   border: 1px sold white;
   outline: none;
   background-color: rgba(255, 255, 255, .75);
   margin: 1px;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus
 {
    background-color: rgba(255, 255, 255, .9);
 }

.calculator-output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.calculator-output .current-operand {
    color: white;
    font-size: 2.5rem;
}